<section class="main-page">
<section class="pageLogOut style-text">Это то, что пользователь видет не залогинившись</section>
<section *ngIf="isLoggedIn" class="pageLogIn">

  <div>
    <div>
      <div class="position-toggle">
        <div ngbDropdown class="d-inline-block">
          <div class="btn-toggle-dropdown">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" style="background: #896666; font-weight: 700; color: white" ngbDropdownToggle>Toggle dropdown</button>
          </div>

          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-styles_games">
            <div class="style-links"><a routerLink="/genres" class="main-url">Genres</a></div>
            <div  class="style-links"><a routerLink="/mechanics" class="main-url">Mechanics</a></div>
            <div  class="style-links"><a routerLink="/games" class="main-url">Games</a></div>



          </div>
        </div>
      </div>


    </div>

  </div>
  <div class="section-logIn style-text">
  <p>Тест, который пользователь видит залогинившись</p>
  </div>
</section>
</section>
