<div class="modal-header">
  <h4 class="modal-title">Пожалуйста введите ваши данные:</h4>

</div>
<div class="modal-body" style="display: flex; flex-direction: column; height: 110px; justify-content: space-between">
  <div class="login-log-in-modal" style="display: flex;">
    <label class="user-name-label" style="flex-basis: 20%; display: flex; align-items: center;">User name: </label>
    <input  [(ngModel)]=" loginModel.username" placeholder="userName">
  </div>
  <div class="login-password-modal" style="display: flex;">
    <label class="password-header-login_modal" style="flex-basis: 20%;display: flex;align-items: center;">Password: </label>
    <input  [(ngModel)]="loginModel.password" placeholder="password">
  </div>

  <div *ngFor ="let message of messages">
    <p>{{message}}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="submit()">Log in</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
