<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>Hello!</p>
  <div>
    <label>User name: </label>
    <input  [(ngModel)]=" loginModel.username" placeholder="userName">
  </div>

  <div>
    <label >Password: </label>
    <input  [(ngModel)]="loginModel.password" placeholder="password">
  </div>

  <div *ngFor ="let message of messages">
    <p>{{message}}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="submit()">Log in</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>