/* AppComponent's private CSS styles */

nav a {
  width: 280px;
  height: 50px;
  text-decoration: none;
  border: 5px solid #fc6363;

  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}
.absolute{
  position: absolute;
}

.background-color-main{
  background: #f8c5f8;
}
.other-page-btn{
  width: 7%;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  background: purple;
  margin-top: 20px;
  cursor: pointer;
}
.a-other{
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: 20px;
}
.main-wrapper{
  display: flex;
  flex-direction: column;
}
.h1-header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}
.main-name{
  flex-basis: 90%;
}
.route-register{
  flex-basis: 10%;
  justify-content: space-around;
  display: flex;
}
.main-routes{
  display: flex;
  width: 50%;

  margin: 0 auto;
  justify-content: space-between;

}
