<div class="background-color-main">
<h1>{{title}}</h1>
<nav>
  <div *ngIf="!isLoggedIn">
    <a routerLink="/register">Register</a>
    <a routerLink="/login">Login</a>

  </div>
  <div  *ngIf="isLoggedIn">
    <button (click)="logOut()">LogOut</button>
  </div>

  <a routerLink="/genres">Genres</a>
  <a routerLink="/mechanics">Mechanics</a>
  <a routerLink="/games">Games</a>

</nav>
<div>
  <div class="other-page-btn" routerLink="/other">
    <a  class="a-other">OtherPage</a>
  </div>

</div>
<router-outlet></router-outlet>
</div>
